body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYIsBxz-bC6G_yJJKWKS4gSnRfnI3CDoz-RA&usqp=CAU)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
